# Semana 03
Est. Brian Omar Inca Huamani

Temario
1. Numeros
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

#### 1. Números

In [1]:
1 + 2 + 3 + 4 + 5

15

In [2]:
100 - 50

50

In [3]:
100 * 2

200

In [4]:
100/12

8.333333333333334

#### 2. Variables

In [5]:
nombre = "Brian"

In [6]:
apellido = "Inca"

In [7]:
string = "100"
entero = int(string)
print(entero)

100

#### 3. Manejo de cadenas

In [8]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"

In [9]:
cadena[0]

'U'

In [10]:
# Devuelve las posiciones 3 hasta el 7
cadena[3:8]

'versi'

In [11]:
len(cadena)

44

In [12]:
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [13]:
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [14]:
arr = [1, 2 , 3]
arr.reverse()

In [15]:
arr

[3, 2, 1]

In [16]:
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [17]:
cadena.split(" ")

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [18]:
cadena.split("n")

['U', 'iversidad Nacio', 'al Tec', 'ologica de Lima Sur']

In [19]:
# Forma clásica
name = "Brian"
lastname = "Inca"
print("Buenos dias "+ name + " " + lastname)

Buenos dias Brian Inca

In [20]:
# format()
name = "Brian"
lastname = "Inca"
print("Buenos dias {} {}".format(name, lastname))

Buenos dias Brian Inca

In [21]:
# Dar formato a números con muchos decimales
resultado = 10 / 3
print("10/3 es = {}".format(resultado))

10/3 es = 3.3333333333333335

In [22]:
# Dar formato a números con muchos decimales
resultado = 10 / 3
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.333

In [23]:
# Dar formato a números con muchos decimales
resultado = 10 / 3
print(f"10/3 es {resultado:1.2f}")

10/3 es 3.33

#### 4. Ingreso de datos por teclado

In [24]:
print("What's your name?")
name = input()
print(f"Hi, {name}")

What's your name?
hola
Hi, hola

In [29]:
num1 = input("Numero 1: ")
num2 = input("Numero 2: ")
rpta = int(num1) + int(num2)
print(f"Respuesta = {rpta}")

Numero 1: 1
Numero 2: 2
Respuesta = 3

#### 5. Operadores

In [30]:
# Operadores logicos and or y not
a = 1
b = 2
c = 3
d = 4

In [31]:
a < b

True

In [32]:
a < b and b > c

False

In [ ]:
# Ejemplo
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"